@import-normalize;
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
   /* font-size: 62.5%; 10px/16px = 62.5 = 10px*/
}

body
{
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  min-height: 100vh;
}
